/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


@layer utilities {
  .animate-gradient-move {
    background-size: 200% auto;
    transition: background-position 1.2s ease-in-out, transform 0.7s ease-in-out;
  }

  .animate-gradient-move:hover {
    background-position: right center;
  }
}

.benef-card h3,
.benef-card p {
  color: #e5e7eb !important;
}

.dash_call_table tbody tr::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  height: 1px;
  width: 97%;
  background-color: #d1d5dc;
}

.dash_call_table tbody tr:nth-last-child(1)::after {
  display: none;
}